* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
}

.row::after {
    content: "";
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*Padding CSS*/
.pt-35 {
    padding-top: 35px;
}

.ptb-35 {
    padding: 35px 0;
}

.pl-30 {
    padding-left: 30px;
}
.p-1{
    padding: 1rem 0rem;
}

/*Margin CSS*/
.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}

/*Text Align CSS*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*Color CSS */
.tc-1 {
    color: #666666
}

.bg-1 {
    background: #3a6988;
}

.bg-2 {
    background: #E8EFF4;
}

.container {
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: inline-block;
}

.nav-top {
    list-style: none;
}

.nav-top-item {
    display: inline;
}

.nav-top-link {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.contact-menu {
    margin-top: 23px;
}

.contact-menu span {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-title {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 18px;
}

.site-description {
    font-size: 16px;
    font-weight: normal;
}

.navbar-nav {
    list-style: none;
}

.nav-item {
    display: inline-block;
    padding: 18px;
}

.nav-item:hover {
    background: #fff;
}

.nav-item:hover .nav-link {
    color: #3a6988;
}

.nav-link {
    text-decoration: none;
    color: #DDE5EA;
}

.navbar {
    border: 1px solid #2b4b62;
}

.h-57 {
    height: 57px;
}

.search-bar {
    margin-top: 10px;
    margin-right: 10px;
}

input[type="search"] {
    width: 220px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    line-height: 18px;
    border: none;
    outline: none;
    color: #666666;
}

input[type="submit"] {
    width: 80px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 18px;
    padding: 8px;
    background: #fff;
    border: none;
    outline: none;
    color: #666666;
    margin-left: 10px;
}

/* Slider Section CSS */

.slider-caption {
    font-size: 26px;
    font-family: Georgia;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: -4px;
    color: #fff;
}

.recent-post {
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.recent-post:first-child {
    padding-left: 0;
}

.recent-post:last-child {
    padding-right: 0;
}

.recent-post-img {
    width: 100%;
    height: auto;
}

.recent-post-title {
    color: #fff;
    padding: 10px;
    margin-top: -4px;
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.big-post {
    flex: 0 0 50%;
    /* padding-left: 30px; */
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.big-post:nth-child(odd) {
    padding-left: 0;
}

.big-post:nth-child(even) {
    padding-right: 0;
}

.big-post>h2,
aside>h2 {
    color: #666666;
    font-size: 20px;
    font-family: Gerogia;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 17px;
    margin-bottom: 16px;
}

img {
    width: 100%;
    height: auto;
}

.big-post>p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 18px;
    margin-bottom: 24px;
}

.continue-read {
    font-size: 13px;
    color: #fff;
    background: #3a6988;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.thumbnail {
    padding: 5px;
    border: 1px solid #4f4f4f;
}

.sidebar-post {
    display: flex;
    margin-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bfbfbf;
}

.sidebar-post > img {
    width: 88%;
    height: auto;
}
.sidebar-post-body {
    padding-left: 7px;
    display: flex;
    flex-flow: column wrap;
}

.sidebar-post-body h4 {
    font-size: 12px;
    color: #666666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

.sidebar-post-body p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #666666;
    margin-bottom: 6px;
}

.continue-read {
    align-self: end;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery img {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 80px;
}

.gallery img:nth-child(1) {
    margin-left: 0;

}

.gallery img:nth-child(4) {
    margin-left: 0;

}

footer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

footer p {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.footer-top {
	display: flex;
	flex-flow: row wrap;
	background: #e8eff4;
	padding-top: 32px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.footer-top-section {
	width: 20%;
	padding-right: 20px;
}

.footer-top-section:last-child {
    padding-right: 0px;
}

.footer-top-section h2 {
    font-size: 20px;
    font-family: Gerogia;
    color: #3a3b3f;
    padding-bottom: 4px;
    border-bottom: 1px solid #c0c4c6;
    margin-bottom: 12px;
}

.footer-top-section p {
	font-size: 12px;
	font-family: Verdana;
	color: #3a6988;
	line-height: 23px;
}

.single {
	width: 38%;
}
.single p {
	color: #98989a;
	padding-bottom: 14px;
}
.single p:last-child {
	padding-top: 14px;
	padding-bottom: 14px;
}
.single > input[type="search"] {
	width: 270px;
	color: #666666;
	border: 1px solid #023e62;
}
.single> input[type="submit"] {
	width: 38px;
	color: #023e62;
    margin-left: 5px;
	border: 1px solid #023e62;
    
}
a{
    text-decoration: none;
}
.para{
    color: #222;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.flex-item {
    margin: 1rem;
}